body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #5c8d23;
  color: #35291f; }

button {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
  border-radius: 5px; }

button:focus {
  outline: none; }

.container {
  margin: 0 auto;
  width: 90%;
  font-size: 20px; }
  .container .title {
    text-align: center;
    font-size: 50px;
    font-weight: bold; }
  .container .top-nav-bar {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 10px; }
  .container table {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }
    .container table .empty-cell {
      background-color: #ADB6BB; }
    .container table .new-cell {
      background-color: #EEDB74; }
    .container table .mature-cell {
      background-color: #C57200; }
  .container table, .container th, .container td {
    border-collapse: collapse;
    border: #222120 1px solid; }
  .container td {
    width: 10px;
    height: 10px; }
  .container .btm-nav-bar {
    text-align: center;
    position: absolute;
    margin-left: -150px;
    left: 50%;
    bottom: 15px; }
    .container .btm-nav-bar .btm-nav-btn.neutral-btn {
      color: #333C1A;
      background-color: #C57200; }
    .container .btm-nav-bar .selected-size-btn, .container .btm-nav-bar .selected-speed-btn {
      color: #785722;
      background-color: #EEDB74; }
    .container .btm-nav-bar .board-size-panel {
      margin-bottom: 10px; }
