$blank-cell: white;
$new-cell-color: orange;
$mature-cell-color: red;
$neutral-btn-color: white;
$selected-btn-color: gray;

html,body {
  margin: 0;

}

.container{
  table{
    margin: 0 auto;

    .empty-cell{
      background-color: $blank-cell;
    }
    .new-cell{
      background-color: $new-cell-color;
    }
    .mature-cell{
      background-color: $mature-cell-color;
    }
  }
  table, th, td {
    border-collapse: collapse;
    border: black 1px solid;
  }

  td{  //CHANGE PIXEL SIZE LATER
    width: 10px;
    height: 10px;
  }

  .btm-nav-bar {
    .btm-nav-btn.neutral-btn{
      background-color: $neutral-btn-color;
    }
    .btm-nav-btn.selected-size-btn{
      background-color: $selected-btn-color;
    }
  }

}
